doctype html
html
  head
  body
    p.
      texto qualquer aqui
    each prop, index in dataNews
      if prop.tipoLayout === "coluna"
        p.
          isso é uma #{prop.tipoLayout}
        img(src=prop.srcImg, alt=prop.altImg)
      else
        p.
          isso é uma #{prop.tipoLayout}
        img(src=prop.srcImg, alt=prop.altImg)


